$mq-responsive 			: true !default;
$mq-base-font-size		: 16px;
$mq-breakpoints			: ( desktop: 480px );
//$mq-show-breakpoints 	: ( desktop );

@import '_mq.scss';

@mixin mobile() 	{ @include mq($until: desktop) { @content } }
@mixin desktop()	{ @include mq($from: desktop) { @content } }
