@mixin proportional($percentage, $child_selector) {
	padding-top: $percentage;
	position: relative;
	> #{$child_selector} {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

@mixin clearfix {
	&:after {
	   content: " ";
	   visibility: hidden;
	   display: block;
	   height: 0;
	   clear: both;
	}
}

@function image-path($image) {
	@return "/assets/" + $image;
}

@function image-url($image) {
	@return url(image-path($image));
}

.clearfix {
	@include clearfix;
}